$font-size-base: 15px;
$navbar-height: 30px;
$navbar-default-bg: #c45268;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-active-color: #fff;
$border-radius-base: 0px;
$headings-font-family: 'Open Sans Condensed', sans-serif;