$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "_partials/variables";
@import '../bower_components/sass-bootstrap/lib/bootstrap';

h1, h2, h3{
    text-align: center;
}

footer{
    padding: 20px 0;

    p{
        margin-bottom: 0px;
    }
}

.navbar{
    margin-bottom: 0px;
}

.jumbotron{
    text-align: center;
    background: #c45268;
    color: #fff;
    margin-bottom: 0px;

    h1{
        font-weight: normal;
    }

    .lead{
        font-family: $headings-font-family;
    }
}

.nav-center{
    float: none;
    text-align: center;

    li{
        float: none;
        display: inline-block;
    }
}

.odd-panel{
    background: #FAF0F2;
    border-top: 1px solid darken(#FAF0F2, 10%);
    padding-bottom: 20px;
}

.even-panel{
    background: darken(#FAF0F2,10%);
    border-top: 1px solid darken(#FAF0F2, 10%);
    padding-bottom: 20px;
}

pre{
    text-align: left;
}

ul.browser-support{
    margin-top: 0px;
    padding: 0;
    margin: 0 0 20px;

    li{
        list-style: none;
    }

    li{
        float: left;
        font-size: 12px;
        text-align: center;
        padding-top: 50px;
        width: 50px;
        background: url('../images/browsers.png') 0 0 no-repeat;

        &.chrome{
            background-position: 0 0;
        }

        &.firefox{
            background-position: -50px 0;
        }

        &.ie{
            background-position: -100px 0;
        }

        &.opera{
            background-position: -150px 0;
        }

        &.safari{
            background-position: -200px 0;
        }
    }
}


@media (max-width: $screen-xs-max){
   .navbar{
        display: none;
    }

    pre{
        font-size: 10px;
    }
}
